.header {
    height: rem(80);
    padding-top: 10px;
  }
  
  .link {
    display: flex;
    align-items: center;
    height: 100%;
    text-decoration: none;
    color: rgb(51, 51, 51);
    font-weight: 500;
    font-size: var(--mantine-font-size-lg);
  
    @media (max-width: mantine-breakpoint-sm) {
      height: rem(42px);
      width: 100%;
    }
  
    @mixin hover {
      text-decoration: underline;
    }
  }
  
  .subLink {
    width: 100%;
    padding: var(--mantine-spacing-xs) var(--mantine-spacing-md);
    border-radius: var(--mantine-radius-md);
  
    @mixin hover {
      background-color: light-dark(var(--mantine-color-gray-0), var(--mantine-color-dark-7));
    }
  }
  
  .dropdownFooter {
    background-color: light-dark(var(--mantine-color-gray-0), var(--mantine-color-dark-7));
    margin: calc(var(--mantine-spacing-md) * -1);
    margin-top: var(--mantine-spacing-sm);
    padding: var(--mantine-spacing-md) calc(var(--mantine-spacing-md) * 2);
    padding-bottom: var(--mantine-spacing-xl);
    border-top: rem(1px) solid light-dark(var(--mantine-color-gray-1), var(--mantine-color-dark-5));
  }